#navbar {
  z-index: 10;
  display: flex;
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  flex-flow: wrap;
  justify-content: flex-end;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  margin: 0 auto;
  background-color: #080f17;
  background-image: url(../graphics/Farbübergang1.jpg);
  background-attachment: fixed;
  background-position: right;
  background-size: cover;
  font-family: 'Poiret One';
  font-size: 20px;
  flex-flow: row wrap;
}

form {
  margin-bottom: 0px;
  width: 100%;
}

label {
  color: #fdfffc;
}

iframe {
  border: none;
}

h1 {
  text-align: center;
}

h1,
h2,
h3,
h4,
li,
p,
a {
  color: #fdfffc;
  font-family: 'Poiret One';
}

.responsive {
  width: auto;
  max-width: 500px;
  height: 100%;
}

.button {
  text-align: center;
  text-decoration: none;
  font-family: 'Poiret One';
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.frameMulti {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.frame {
  display: block;
  border: none;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #080f17;
}

::-webkit-scrollbar-thumb {
  background: #fdfffc;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* navbar */

.sticky {
  background-color: #080f17;
  position: sticky;
  top: 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.linkTo,
.start {
  width: 15vw;
  min-width: 100px;
  max-width: 180px;
  float: right;
  margin: 10px;
  padding: 10px;
  padding-bottom: 12px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.linkTo {
  color: #fdfffc;
}

.start {
  color: white;
  background-color: #D62828;
}

.linkTo:hover {
  background-color: #0a141f;
}

.start:hover {
  background-color: #9e291c;
}

.responsiveMenu {
  display: none;
}

.dropMenu {
  width: 98%;
  float: right;
  margin: 1%;
  padding: 10px;
  padding-bottom: 12px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #c03221;
  text-decoration: none;
}

.dropMenu:hover {
  background-color: #9e291c;
}

.menuContent {
  display: none;
  width: 100%;
  height: auto;
  flex-direction: column;
}

.droppedLink {
  width: 98%;
  float: right;
  margin: 2px 1%;
  padding: 12px 0px;
  border: none;
  border-radius: 5px;
  background-color: #fdfffc;
  text-decoration: none;
}

.droppedLink:hover {
  background-color: #0a141f;
}

.drop {
  display: flex;
}

.frameLine {
  width: 100%;
  height: 1px;
  background-color: #080f17;
}

.lineBlack {
  width: 66%;
  height: 1px;
  float: right;
  background-color: #fdfffc;
}

@media all and (max-width: 1300px) {
  .linkTo,
  .start {
    width: 14vw;
    min-width: 80px;
    margin: 1vw;
  }
}

@media all and (max-width: 620px) {
  .linkTo,
  .start {
    display: none;
  }

  .responsiveMenu {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
  }
}

/* header */

.header {
  display: flex;
  height: 90vh;
  overflow: hidden;
  flex: 1 1 100%;
  flex-direction: column;
  justify-content: center;
}

.headerPicture {
  width: 100%;
  height: 20vw;
  margin: 5% 0 5% 0;
  background-image: url(../graphics/ErikBentStraightSlim.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.headerTextFrame {
  width: 100%;
  height: auto;
}

.headerText {
  padding: 1%;
  color: #fdfffc;
  text-align: center;
  font-family: 'Poiret One';
  font-size: 50px;
}

.headerButton {
  max-width: 430px;
  margin: 5% auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.scrollToAboutMe {
  width: 300px;
  height: 50px;
  padding-top: 15px;
  color: #080f17;
  background-color: #84DCCF;
  border: none;
  border-radius: 50px;
  font-size: 30px;
}

.scrollToAboutMe:hover {
  background-color: #154848;
}

@media all and (max-width: 620px) {
  .scrollToAboutMe {
    width: 100%;
    margin: 10px;
  }

  .headerPicture {
    width: 100%;
    height: 40vw;
  }
}

/* content */

.content {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  padding: 50px 17%;
  overflow: hidden;
}

.wrap {
  flex-flow: row wrap;
}

.wrapReverse {
    flex-flow: row wrap-reverse;
}

.withBackgroundColor {
  background: #0a141f;
}

.contentPicture {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100%;
  display: block;
  flex-flow: column wrap;
  margin: 20px;
}

.contentText {
  height: auto;
  display: block;
  flex-flow: column wrap;
  margin: 20px;
}

#aboutMeText,
#skidCatText {
  width: 60%;
}

#bearText {
  width: 40%;
}

#aboutMePicture {
  background-image: url(../graphics/aboutMePicture.jpg);
  min-height: 400px;
  width: 30%;
}

#skidCatPicture {
  background-image: url(../graphics/skidCatPicture.jpg);
  min-height: 500px;
  width: 30%;
}

#bearPicture {
  background-image: url(../graphics/bearPicture.jpg);
  min-height: 300px;
  width: 50%;
}

#contact {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 100%;
}

.contentImprint {
  height: 80vh;
}

label {
  margin-left: 10px;
}

.emailFrame,
.nameFrame,
.subjectFrame {
  display: flex;
  width: 32%;
  height: auto;
  margin-top: 10px;
  flex-direction: column;
}

.messageFrame {
  display: flex;
  width: 100%;
  height: auto;
  margin: 10px 0px;
  flex-direction: column;
}

#email,
#message,
#name,
#subject,
.g-recaptcha,
.submit {
  background-color: rgba(0,0,0,0)/*#0a141f*/;
  padding: 5px;
  border: 1px solid #fdfffc;
  border-radius: 5px;
  font-family: 'Poiret One';
  font-size: 20px;
  font-weight: 500;
  color: #fdfffc;
}

#email,
#name,
#subject {
  max-width: 100%;
  height: 45px;
}

#message {
  max-width: 100%;
  height: 400px;
}

.g-recaptcha {
  width: 304px;
  height: 78px;
  padding: 0px;
  border: none;
}

.submit {
  width: 304px;
  height: 45px;
  float: right;
  margin-right: 10px;
  color: white;
  border: none;
  background: #c03221;
}

.submit:hover {
  background: #9e291c;
}

@media all and (max-width: 1500px) {
  .content {
    padding: 50px 5%;
  }

  .emailFrame,
  .nameFrame {
    width: 47%;
  }

  .subjectFrame {
    width: 100%;
  }
}

@media all and (max-width: 1000px) {
  .contentText,
  .contentPicture {
    width: 100%
  }

  .emailFrame,
  .nameFrame,
  .subjectFrame {
    width: 100%;
  }
}

@media all and (max-width: 880px) {
  .contentAboutUs1,
  .contentAboutUs2 {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .contentContact {
    display: flex;
    padding: 50px 2%;
    overflow: hidden;
    font-family: 'Poiret One';
    flex-direction: column;
  }

  .g-recaptcha,
  .submit {
    display: block;
    float: none;
    margin-right: auto;
    margin-left: auto;
  }

  .contentContact,
  .contentInfo,
  .contentServices,
  .contentSite,
  .contentJobs {
    display: flex;
    padding: 30px 10%;
    overflow: hidden;
    font-family: 'Poiret One';
    flex-direction: column;
  }
}

/* footer */

.footer {
  display: flex;
  width: 100%;
  height: auto;
  overflow: hidden;
  flex: 1 1 100%;
  flex-direction: row;
  justify-content: center;
}

.footerPartFrame {
  display: flex;
  width: 280px;
  height: auto;
  margin: 10px 20px;
  flex-direction: column;
}

.footerPicture {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0px auto;
  padding-top: 40px;
}

.footerText {
  display: block;
  width: 100%;
  padding-bottom: 10px;
  text-align: center;
}

.footerCopyright {
  width: 100%;
  color: white;
  background-color: #0a141f;
  text-align: center;
  font-size: 14px;
}

#cookie-popup {
  z-index: 100;
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 250px;
  padding: 20px;
  color: #fdfffc;
  background: #0a141f;
  text-align: center;
  font-family: 'Poiret One';
  font-size: 16px;
  line-height: 25px;
}

.cookieButton {
  width: 200px;
  height: 50px;
  margin: 10px 0px;
  padding: 5px;
  color: #080f17;
  border: none;
  border-radius: 50px;
  background-color: #84DCCF;
  text-align: center;
  font-family: 'Poiret One';
  font-size: 16px;
  font-weight: 200;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.cookieButton:hover {
  background-color: #154848;
}

@media all and (max-width: 880px) {
  .footer {
    display: flex;
    width: 100%;
    height: auto;
    overflow: hidden;
    flex: 1 1 100%;
    flex-direction: column;
    justify-content: center;
  }

  .footerPartFrame {
    display: flex;
    width: 250px;
    height: auto;
    margin: 10px auto;
    flex-direction: column;
  }
}
